.quote-container.introduction {
    font-family: "Cormorant Garamond", serif;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .quote-body {
        background-image: none;
    }

    h1 {
        display: inline-flex;
        justify-content: center;
        font-size: 4rem;
        font-family: 'gothic';
        letter-spacing: 2px;
        position: relative;
        &::after {
            width: 200px;
            height: 2px;
            background: var(--body-neon);
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }


    }
}

.Typewriter__wrapper {
    font-family: "Cormorant Garamond", serif;
    line-height: 1.5;
    font-size: 1.5rem;
}



@media only screen and (max-width: 600px) {

    //code goes here
    .Typewriter__wrapper {
        font-size: 1.3rem;
        line-height: 1.2;
    }

    .quote-container.introduction {
        h1 {
            font-size: 2rem;
        }
    }
}

.scroll-down {
    border-radius: 51px;
    padding: 15px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);

}

.one,
.two,
.three {
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    transform: rotate(-45deg);
    margin: 5px;
    animation: scrollButtom 1s infinite;
}

.one {
    animation-delay: 0.1s;
}

.two {
    animation-delay: 0.2s;
}

.three {
    animation-delay: 0.3s;
}

@keyframes test {
    0% {
        background: red;
    }

    100% {
        background: green;
    }
}

@keyframes scrollButtom {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}