.about__container {
    margin: 1rem;
    padding: 1rem;
    border: 13px solid var(--body-neon);
}

.die {
   border-bottom: 3px solid var(--body-neon);
}

.about__date {
    font-size: 1.3rem;
}


.pronounce {
    display: flex;
    align-items: center;
    margin-top: -25px;
}
.pronounce-icon {
    cursor: pointer;
    margin-left: 10px;
    width: 30px;
}

.sign-in-container {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}