.about__container {
    margin: 1rem;
    padding: 1rem;
    border: 13px solid var(--body-neon);
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
}

.header-text {
    font-family: "Cinzel", serif;
}

.pronounce {
    display: flex;
    align-items: center;
    margin-top: -25px;
}
.pronounce-icon {
    cursor: pointer;
    margin-left: 10px;
    width: 30px;
}

.sign-in-container {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}

.button__container {
    display: flex;
    justify-content: space-between;
}

.google-brand {
    min-width: 165px;
    border-radius: 5px;
}

.Toastify {
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  //code goes here
  .about__container {
    font-size: 1.2rem;
  }
}
