.date-container {
    border-top: 5px double white;
    border-bottom: 5px double white;
    font-family: 'Cinzel', serif;
    text-align: center;
    background: #00000078;

    p {
        font-size: 1.5rem;

    }

    h2 {
        font-style: normal;
        font-size: 2rem;
    }
}

.quote-highlight {
    background: #00000078;
}

.quote-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 1rem;
    text-align: center;

}

.quote-body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    background-image: url(https://cdn.discordapp.com/ephemeral-attachments/1008571057562714113/1065032862136549376/grid_0.webp);
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}

small {
    text-align: right;
    display: block;
    font-style: italic;
}

.quote-subtext {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 2rem;
    min-height: 500px;
    text-align: center;
    background: #00000078;

    a {
        color: inherit;
    }
}

@media only screen and (max-width: 600px) {
    .hide-mob-temp {
        display: none;
    }

    .quote-container {
        width: 100%;
        padding: 0 1rem;
        margin: 0rem auto;
    }

    .quote-subtext {
        font-size: 1.2rem;
        margin: 0;
    }

    .quote-body {
        background-size: 100%;
    }

    .date-container {
    p {
        font-size: 1rem;

    }

    h2 {
        font-style: normal;
        font-size: 1.5rem;
    }
}
}

// .quote-subtext {
//   white-space: pre-line;
// }