@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');

.stoic-habits {
    padding: 0 3rem;
    background-color: white;
    color: black;
    border-radius: 40px;
    margin: 3rem auto;

    h2,
    h5 {
        font-family: "Cinzel", serif;
        font-size: 5rem;
        width: 20%;
        line-height: 1;
        font-weight: 100;
        text-align: left;
    }

    h5 {
        font-size: 2rem;
        text-align: right;
        width: 100%;
    }
}

.stoic-habits-title {
    display: flex;
    justify-content: space-between;
}

.fire-glowing {
    animation: blink 3s ease-in-out infinite;
    width: 50px;
    margin-left: auto;
}

.img0 {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-end;
    height: 100;
    justify-content: space-evenly;
    margin-left: auto;
}

.habit-blocks-container {
    position: relative;
    border-top: 3px #000 dashed;
    display: flex;
    gap: 3rem;
    align-items: center;

    .habit-number {
        position: absolute;
        left: 0;
        top: 6%;
        width: 30px;
    }

    h4 {
        font-size: 2.3rem;
        min-width: 300px;
        text-align: left;
        text-transform: uppercase;
    }

    p {
        font-size: 1.2rem;
        text-align: left;
    }

}

.habit-quote {
    display: block;
    font-style: italic;
    border-left: 2px solid black;
    padding-left: 10px;
    margin: 1rem 0;
    font-size: 1rem;
    width: 75%;
    font-family: 'Source Serif Pro', serif;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 800px) {

    //code goes here
    .habit-quote {
        width: 90%;
    }

    .habit-blocks-container {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0;
        h4 {
            width: 100%;
            margin-top: 1.2rem;
            margin-bottom: 0;
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }

        .habit-number {
            position: absolute;
            left: 0;
            top: 15px;
            width: 20px;
        }
    }

    .stoic-habits {
        padding: 0 1rem;
        margin: 1rem auto;
        width: 95%;

        h2,
        h5 {
            font-size: 2rem;
        }

        h5 {
            font-size: 1rem;
            text-align: right;
            width: 100%;
        }

        .img0 {
            display: flex;
            flex-direction: column;
            width: 100px;
            align-items: flex-end;
            justify-content: space-evenly;
        }

        .fire-glowing {
            width: 30px;
        }

    }
}