nav {
    display: flex;
    align-items: center;
    align-items: center;
    font-family: "Cinzel", serif;
    font-size: 1.6rem;
    max-width: 95%;
    justify-content: center;
    margin: auto;

    .nav-links {
        margin-left: auto;

        ul {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }
}

.logo-image {
    width: 75px;
}

.logo {
    width: 100px;
    background-image: url("../../assets/images/about.svg");
    height: 100px;
    background-size: contain;
}

#theme-switch:checked ~ #root > nav .logo{
  background-image: url("../../assets/images/blacky.svg");
}


.login-key {
    width: 50px;
    height: 50px;
}

.quote-subtext {
    text-align: left;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-link {
        cursor: pointer;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


.hide-for-now {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: flex;
    margin: 2rem auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .nav-link {
        font-size: 1.2rem;
    }

    .quote-highlight {
        font-size: 1.1rem;
    }

    small {
        font-size: 0.8rem;
        margin: 1rem 0;
    }

    nav {
        padding:  0;
    }
}