nav {
    display: flex;
    align-items: center;
    color: #ffffff;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 1.6rem;
    max-width: 95%;
    justify-content: center;
    margin: auto;
    .nav-links {
        margin-left: auto;
    
        ul {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }
}

.logo-image {
    width: 75px;
}

.skull-about {
    width: 100px;
}

.login-key {
    width: 50px;
    height: 50px;
}

.quote-subtext {
    text-align: left;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-link {
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}