.today__time--container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #017CFF;
    border-radius: 25px;
    padding: 19px;
    font-family: "droid-sans-mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.no-stylist {
    font-size: 1.5rem;
}

.today__time--container-header {
    font-size: 2.5rem;
    font-family: "droid-sans-mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 1rem 0;
}

.today__time--container-hour {
    font-size: 1.5rem;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {

    //code goes here
    .today__time--container-header {
        font-size: 3rem;
        margin: 1rem 0;
    }

    .today__time--container-hour {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .today__time--container {
        align-items: center;
    }

}