footer {

    padding: 1rem 1rem;
    text-align: center;
    width: 90%;
    margin: 5rem auto 1rem auto;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;

    a {
        color: inherit;
        border-bottom: 3px solid var(--body-neon);
        text-decoration: none;
        font-size: 1.5rem;
    }

    h4 {
        margin: 2rem 0;
    }
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

    img {
        width: 250px;
    }
}

.footer-right {
    text-align: right;
}

#root {
    position: relative;
}

.copyright {
    text-align: right;
}

@media only screen and (max-width: 800px) {
    .footer-container {

        display: flex;
        flex-direction: column;

        img {
            width: 100px;
        }
    }

    footer {
        font-size: 1rem;
        width: 100%;
        padding: 1rem;
    }

    .copyright {
        font-size: 14px;
    }

    .footer-right {
        margin-top: -25px;
    }

    .created__by {

        align-items: center !important;
    }
}



#theme-switch:checked~#root>*:last-child .footer-left {
    background-image: url("../../assets/images/blacky.svg");

}

.created__by {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
        border-bottom: none !important;
    }

    flex-direction: column;

    .af__logo {
        width: 50px;
    }
}