@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --app-bg: #010101;
  --body-neon: #96cf48;
}

body {
    background-color: var(--app-bg);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
}

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
    outline: none;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}