@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@300&display=swap');

.product_hunt {
  position: absolute;
  z-index: 99;
  right: 0;
  
}
:root {
  --app-bg: #141414;
  --body-neon: #96cf48;
  --test-bg: #f8f8f8;
  --maroon: #7b1113;
  --gold: #ffd700;
  --olive: #9b870c;
  --steel-blue: #4682b4;
  --light-bg: #f8f8f8;
  --dark-bg: #141414;
  --bg-color: var(--dark-bg);
  --black-text: #141414;
  --white-text: #f8f8f8;
  --text-color: var(--white-text);
  --black-block: #18181878;
  --block-color: var(--black-block);
}

input#theme-switch {
    display: none;
}


/* Switched mode */
#theme-switch:checked ~ #root {
  --bg-color: var(--light-bg);
  --text-color: var(--black-text);
  --block-color: var(--light-bg)
}



#root {
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}



*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
}

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
    outline: none;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}
/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 100%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}


.mobile__only {
  display: none;
}

.hide__on__mobile {
  display: block;
}

@media only screen and (max-width: 600px) {
 .mobile__only {
  display: block;
}

.hide__on__mobile {
  display: none;
}

}