.quote-container.symbolism {
    background-color: white;
    margin: 2rem;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 5rem;
}

.symbols-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 5rem;
    width: 100%;
    justify-content: center;
    border: 5px solid gold;
}

.symbols-icons {
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
  //code goes here
  .symbols-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    width: 100%;
    justify-content: center;
}
}